.header {
    padding: 10px 20px;
    background: #faca00;
}

.header .container {
    display: flex;
}

.logo {
    height: 50px;
}

.title {
    align-self: center;
    margin: 0 20px;
    margin-left: auto;
}

.logout {
    align-self: center;
}

.logout a {
    padding: 10px 20px;
    background: #333333;
    color: white;
    text-decoration: none;
    border-radius: 20px;
    font-weight: bold;
}